@model IEnumerable<WebApplication1.Dictionaries>

@{
    ViewBag.Title = "Dictionaries";
}

<h2>Dictionaries</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Source language
        </th>
        <th>
            Choose dictionary to download
        </th>
        <th>Template download</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DictionaryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceLanguage)
        </td>
        <td>
            <a href="~/Content/dictionaries/fr-source_@Html.DisplayFor(modelItem => item.FileName)">
                <img src="http://www.flagpictures.org/downloads/print/france1-thumb.jpg" width="40" height="24"/>
            </a>
            
            <a href="~/Content/dictionaries/de-source_@Html.DisplayFor(modelItem => item.FileName)">
                <img src="http://www.flagpictures.org/downloads/print/germany2-thumb.jpg" width="40" height="24" />
            </a>
            
            <a href="~/Content/dictionaries/pl-source_@Html.DisplayFor(modelItem => item.FileName)">
                <img src="http://www.flagpictures.org/downloads/print/poland1-thumb.gif" width="40" height="24" />
            </a>
        </td>
        <td>
            <a href="~/Content/dictionaries/@Html.DisplayFor(modelItem => item.FileName)">Original template</a>
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) @*zostawia kopie pliku na serwerze*@
        </td>
    </tr>
}

</table>
